*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
      --text-primary-color:#F3F3F3;
      --text-secondary-color:#B0B0B0;
      --text-tertiary-color:#9F9F9F;
  
      --main-color:#00A3FF;
  
      --background-color-one:#06070D;
      --background-color-two:#191b27;
  
      --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
      --font-family-one:'Caudex', serif;
      --font-family-one:'Lato', sans-serif;
  }
  /* LARGE DEVICE SCREEN */
  
  @media (min-width: 1200px) {
  
  }
  
  
  /* MEDIUM DEVICE SCREEN */
  
  @media (min-width: 768px) and (max-width: 1199px) {
  
  
  
  
  
  
  }
  
  
  
  
  /* SMALL DEVICE SCREEN */
  
  @media (max-width: 767px) {

    /* NAVBAR */

    .container { 
        padding-left:20px !important;
        padding-right: 20px !important;}
    
      .navbar-collapse {
        height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out; 
    }
    
    .navbar-collapse.show {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    /* .navbar {
      padding-top: 12px;
      padding-bottom: 12px;
    } */
    .navbar-nav {
      flex-direction: column;
      align-items:center;
    }
    
    .navbar-nav .nav-item .nav-link.selected::after{
      display: none;
      align-items: center;
    
    }
    
    .nav-item{
      margin-top: 8px;
      margin-bottom: 8px;
    }
    
    .nav-item .nav-link{
      font-size: 20px;
    }


    .progress-wrap{
        right:20px;
    }
     /* NAVBAR */

     .a-bit-about-me-text{
        font-size: 32px;

    }

    .container-for-hero-section-in-resume-page{
        height: 200px;
        margin-bottom: 32px;
        margin-top: 50px;
        background-size: cover;
    }

    .image-container-in-about{
        padding-right: 12px;
    }


  /* HERO SECTION */






     .what-i-do-parent-container-for-text {
        padding-right: 12px;
     }
    .what-i-do{
        font-size: 32px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .what-i-do-para{
        font-weight: normal;
        text-align: center;
    }
    .download-resume-button{
        width: 100%;
        justify-content: center;
    }

    .what-i-do-parent-container-for-service {
        padding-left: 12px;
        margin-top: 24px;
    }

    .parent-container-for-education-and-experience{
        margin-top: 16px;
        margin-bottom: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .education-icon-container, .office-icon-container{
        margin-right: 12px;
    }
    .education, .experience,.skills{
        font-size: 32px;
    }
    .parent-container-for-education{
        margin-bottom: 24px;
    }

    .imgContainer{
        width: 200px;
        height: 200px;
    }

    .forborder{
        margin-top: 16px;
    }

    .skills-name{
        font-size: 24px;

    }
    .percentage-value{
        font-size: 16px;
    }

    .bottle{
        top: 45px;
        height: 72px;
        width: 72px;

    }
        
.icon-and-name{
    margin-bottom: 12px;
}








    
    /* FOOTER SECTION STARTS HERE */
    .parent-container-for-footer{
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    }
  
    .follow-me-text{
        font-size: 20px;
    }
    
  /* FOOTER SECTION ENDS HERE */
  }